<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script type="text/javascript">
    // 오른쪽 배너 스크립트
        var stmnLEFT = 10; // 오른쪽 여백 
        var stmnGAP1 = 0; // 위쪽 여백 
        var stmnGAP2 = 150; // 스크롤시 브라우저 위쪽과 떨어지는 거리 
        var stmnBASE = 150; // 스크롤 시작위치 
        var stmnActivateSpeed = 35; //스크롤을 인식하는 딜레이 (숫자가 클수록 느리게 인식)
        var stmnScrollSpeed = 20; //스크롤 속도 (클수록 느림)
        var stmnTimer;

        function RefreshStaticMenu() {
            var stmnStartPoint, stmnEndPoint;
            stmnStartPoint = parseInt(document.getElementById('STATICMENU').style.top, 10);
            stmnEndPoint = Math.max(document.documentElement.scrollTop, document.body.scrollTop) + stmnGAP2;
            if (stmnEndPoint < stmnGAP1) stmnEndPoint = stmnGAP1;
            if (stmnStartPoint != stmnEndPoint) {
                stmnScrollAmount = Math.ceil(Math.abs(stmnEndPoint - stmnStartPoint) / 15);
                document.getElementById('STATICMENU').style.top = parseInt(document.getElementById('STATICMENU').style.top, 10) + ((stmnEndPoint < stmnStartPoint) ? -stmnScrollAmount : stmnScrollAmount) + 'px';
                stmnRefreshTimer = stmnScrollSpeed;
            }
            stmnTimer = setTimeout("RefreshStaticMenu();", stmnActivateSpeed);
        }
        function InitializeStaticMenu() {
            document.getElementById('STATICMENU').style.right = stmnLEFT + 'px';  //처음에 오른쪽에 위치. left로 바꿔도.
            document.getElementById('STATICMENU').style.top = document.body.scrollTop + stmnBASE + 'px';
            RefreshStaticMenu();
        }
    </script>



    <script>
        // 체크되지않은 항목이 있다면 alert!!
        function CheckForm(join) {

            // console.log("Industry실행")
            var isIndustryChk = false;
            var arr_Industry = document.getElementsByName("Industry");
            for (var i = 0; i < arr_Industry.length; i++) {
                if (arr_Industry[i].checked == true) {
                    isIndustryChk = true;
                    break;
                }
            }

            if (!isIndustryChk) {
                alert("Industry의 종류를 한개 이상 선택해주세요.");
                return false;
            }

            // console.log("Tech_Stack실행")
            var isTechStackChk = false;
            var arr_TechStack = document.getElementsByName("Tech_Stack");
            for (var i = 0; i < arr_TechStack.length; i++) {
                if (arr_TechStack[i].checked == true) {
                    isTechStackChk = true;
                    break;
                }
            }

            if (!isTechStackChk) {
                alert("Tech_Stack의 종류를 한개 이상 선택해주세요.");
                return false;
            }


            // console.log("Salary실행")
            var isSalaryChk = false;
            var arr_Salary = document.getElementsByName("Salary");
            for (var i = 0; i < arr_Salary.length; i++) {
                if (arr_Salary[i].checked == true) {
                    isSalaryChk = true;
                    break;
                }
            }

            if (!isSalaryChk) {
                alert("Salary의 종류를 한개 이상 선택해주세요.");
                return false;
            }



            // console.log("Company Size실행")
            var isCompany_SizeChk = false;
            var arr_Company_Size = document.getElementsByName("Company_Size");
            for (var i = 0; i < arr_Company_Size.length; i++) {
                if (arr_Company_Size[i].checked == true) {
                    isCompany_SizeChk = true;
                    break;
                }
            }

            if (!isCompany_SizeChk) {
                alert("Company Size 종류를 한개 이상 선택해주세요.");
                return false;
            }


            // console.log("Hirecareer실행")
            var isHirecareerChk = false;
            var arr_Hirecareer = document.getElementsByName("Hirecareer");
            for (var i = 0; i < arr_Hirecareer.length; i++) {
                if (arr_Hirecareer[i].checked == true) {
                    isHirecareerChk = true;
                    break;
                }
            }

            if (!isHirecareerChk) {
                alert("Hirecareer 종류를 한개 이상 선택해주세요.");
                return false;
            }

        }


        // 체크된 value값 호출
        function getIndustryValue() {
            // 선택된 Industry목록 가져오기
            const IndustryQuery = 'input[name="Industry"]:checked';
            const SelectedIndustry = document.querySelectorAll(IndustryQuery);

            // 선택된 Industry목록에서 value 찾기
            let IndustryResult = '';
            SelectedIndustry.forEach((el) => {
                IndustryResult += el.value + '\n';
            });
            document.getElementById('IndustryResult').innerText = IndustryResult;
        }


        function getTechValue() {
            // 선택된 Tech_Stack목록 가져오기
            const TechQuery = 'input[name="Tech_Stack"]:checked';
            const SelectedTech = document.querySelectorAll(TechQuery);

            // 선택된 Tech_Stack목록에서 value 찾기
            let TechResult = '';
            SelectedTech.forEach((el) => {
                TechResult += el.value + '\n';
            });
            document.getElementById('TechResult').innerText = TechResult;
        }


        function getSalaryValue() {
            const SalaryQuery = 'input[name="Salary"]:checked';
            const SelectedSalary = document.querySelectorAll(SalaryQuery);

            // 선택된 목록에서 value 찾기
            let SalaryResult = '';
            SelectedSalary.forEach((el) => {
                SalaryResult += el.value + ' thousand\n';
            });
            document.getElementById('SalaryResult').innerText = SalaryResult;
        }


        function getSizeValue() {
            const SizeQuery = 'input[name="Company_Size"]:checked';
            const SelectedSize = document.querySelectorAll(SizeQuery);

            // 선택된 목록에서 value 찾기
            let SizeResult = '';
            SelectedSize.forEach((el) => {
                SizeResult += el.value + '\n';
            });
            document.getElementById('SizeResult').innerText = SizeResult;
        }


        function getHireValue() {
            const HireQuery = 'input[name="Hirecareer"]:checked';
            const SelectedHire = document.querySelectorAll(HireQuery);

            // 선택된 목록에서 value 찾기
            let HireResult = '';
            SelectedHire.forEach((el) => {
                HireResult += el.value + '\n';
            });
            document.getElementById('HireResult').innerText = HireResult;
        }




    </script>


    <style type="text/css">
        #STATICMENU {
            background-color: #f2f2f2;
            margin: 0pt;
            padding: 10pt 20pt;
            position: absolute;
            right: 10px;
            top: 0px;
        }
    </style>

</head>



<body onload="InitializeStaticMenu()">


    <h3>Industry</h3>

    <form action="choice" method="POST" onsubmit="return CheckForm(this)">
        <input type="checkbox" id="finance" name="Industry" value="Finance" onclick="getIndustryValue()">
        <label for="finance">금융</label>
        <input type="checkbox" id="automobile" name="Industry" value="Automobile" onclick="getIndustryValue()">
        <label for="automobile">자동차</label>
        <input type="checkbox" id="medical" name="Industry" value="Medical" onclick="getIndustryValue()">
        <label for="medical">의료</label>
        <input type="checkbox" id="security" name="Industry" value="Security" onclick="getIndustryValue()">
        <label for="security">보안</label>
        <input type="checkbox" id="it_service" name="Industry" value="IT_Service" onclick="getIndustryValue()">
        <label for="it_service">IT</label><br>



        <br>
        <hr><br>

        <h3>Tech Stack</h3>
        <input type="checkbox" id="machinelearning" name="Tech_Stack" value="MachineLearning" onclick="getTechValue()">
        <label for="machinelearning">머신러닝</label>
        <input type="checkbox" id="data_analysis" name="Tech_Stack" value="Data_Analysis" onclick="getTechValue()">
        <label for="data_analysis">데이터분석</label>
        <input type="checkbox" id="autonomous_driving" name="Tech_Stack" value="Autonomous_Driving"
            onclick="getTechValue()">
        <label for="autonomous_driving">자율주행</label>
        <input type="checkbox" id="image" name="Tech_Stack" value="Image" onclick="getTechValue()">
        <label for="image">이미지</label>
        <input type="checkbox" id="genetic_algorithm" name="Tech_Stack" value="Genetic_Algorithm"
            onclick="getTechValue()">
        <label for="genetic_algorithm">유전알고리즘</label> <br>
        <input type="checkbox" id="cloud_security" name="Tech_Stack" value="Cloud_Security" onclick="getTechValue()">
        <label for="cloud_security">클라우드 보안</label>
        <input type="checkbox" id="anti_virus" name="Tech_Stack" value="Anti_Virus" onclick="getTechValue()">
        <label for="anti_virus">안티바이러스</label>
        <input type="checkbox" id="platform" name="Tech_Stack" value="Platform" onclick="getTechValue()">
        <label for="platform">플랫폼</label>
        <input type="checkbox" id="applications" name="Tech_Stack" value="Applications" onclick="getTechValue()">
        <label for="applications">앱</label><br>


        <br>
        <hr><br>

        <h3>Salary</h3>
        <input type="checkbox" id="three" name="Salary" value="Three" onclick="getSalaryValue()">
        <label for="three">3000만 ~ 4000만</label> <br>
        <input type="checkbox" id="four" name="Salary" value="Four" onclick="getSalaryValue()">
        <label for="four">4000만 ~ 5000만</label><br>
        <input type="checkbox" id="five" name="Salary" value="Five" onclick="getSalaryValue()">
        <label for="five">5000만 ~ 6000만</label><br>
        <input type="checkbox" id="more" name="Salary" value="More" onclick="getSalaryValue()">
        <label for="more">그 이상</label><br>

        <br>
        <hr><br>

        <h3>Company Size</h3>
        <input type="checkbox" id="big" name="Company_Size" value="Big" onclick="getSizeValue()">
        <label for="big">대기업</label> <br>
        <input type="checkbox" id="medium" name="Company_Size" value="Medium" onclick="getSizeValue()">
        <label for="medium">중견기업</label><br>
        <input type="checkbox" id="small" name="Company_Size" value="Small" onclick="getSizeValue()">
        <label for="small">중소기업</label><br>

        <br>
        <hr><br>

        <h3>Hirecareer</h3>
        <input type="checkbox" id="newcomer" name="Hirecareer" value="Newcomer" onclick="getHireValue()">
        <label for="newcomer">신입</label> <br>
        <input type="checkbox" id="experience" name="Hirecareer" value="Experience" onclick="getHireValue()">
        <label for="experience">경력</label><br>

        <br><br>

        <input type="submit" value="두근두근 나의 회사는?">
    </form>
    
    <form action="board" method="get">

        <button>게시판이동</button>
    </form>

    <br><br>

    <div class="col-25" id="STATICMENU">
        <p>
        <h4>Industry</h4>
        </p>
        <div id="IndustryResult" style="font-size: 13px;">
        </div>

        <p>
        <h4>Tech Stack</h4>
        </p>
        <div id="TechResult" style="font-size: 13px;">
        </div>

        <p>
        <h4>Salary</h4>
        </p>
        <div id="SalaryResult" style="font-size: 13px;">
        </div>

        <p>
        <h4>Company Size</h4>
        </p>
        <div id="SizeResult" style="font-size: 13px;">
        </div>

        <p>
        <h4>Hirecareer</h4>
        </p>
        <div id="HireResult" style="font-size: 13px;">
        </div>

    </div>



</body>

</html>